$colors: (
    primary-blue: #006491,
    dark-blue: #005177,
    primary-red: #e31837,
    text-color: #ffffff,
    text-secondary: #888888
);

@mixin laptop {
    @media(min-width: 800px) {
        @content;
    }
}

@mixin tablet {
    @media(min-width: 750px) {
        @content;
    }
}

@mixin mobile {
    @media(min-width: 300px) {
        @content;
    }
}

@function color($color-name) {
    @return map-get($colors, $color-name);
}

nav {
    background-color: color(primary-blue);
    color: color(text-color);
    height: 76;
    text-transform: uppercase;

    
    div {
        div {
            a {
                color: color(text-color);
                font-size: 16px;
                font-family: 'Arial Narrow', Arial, sans-serif;
                padding: 12px 10px;
                margin: 0px auto;
                font-weight: bold;
                
            }
            a:hover {
                text-decoration: none;
                background-color: color(dark-blue);
                color: color(text-color);
            }

            #navbarDropdownMenuLink {
                border: 2px solid white;
                border-radius: 5px;
                text-align: center;
                margin: 0 20px;
            }

            
        }

    }

    #profile-btn {
        background-color: color(dark-blue);
        text-align: center;
    }

    #profile-btn:hover {
        color: white;
    }
    
}



.nav-link {
    color: white;
}


.item {
    border: 1px solid gray;
    
}

#item1 {
    height: 300px;
   
}

#item2, #item3 {
    height: 150px;
    
}

#item4 {
    height: 100px;
    border-left: none;
    border-right: none;
}

#item5 {
    height: 200px;
}

.row {
    text-transform: uppercase;
    margin: 15px auto;
    
    button {
        background-color: color(primary-red);
        font-family: 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
    }
}

#hiddenbtn {
    
    @include mobile {
        display: block;
    }

    @include tablet {
        display: none;
    }
}

.row1 {

    @include mobile {
        h5, h6, button.col-sm-2 {
            display: none;
        }
    }

    @include tablet {
        h5, h6, button.col-sm-2 {
            display: block;
        }

        h5 {
            margin: 5px 0px 0px;
            color: color(primary-blue);
        }
    
        h6 {
            width: 1px;
            color: color(text-secondary);
            text-transform: none;
            font-size: 22px;
            font-family: italic;
            margin: 5px 0px 0px;
        }
    }
}

.row2 {

    img {
        margin: 5px auto;
       
    }

    .img1 {
        width: 100%;
    }
   

    .img2 {
       
        height: auto;
        width: 100%;
    }



}

.row3 {

    text-align: center;
    margin: auto 2%;

    a {
        div {
            background-color: color(primary-blue);
            clip-path: polygon(10% 32%, 89% 32%, 98% 46%, 90% 58%, 10% 58%, 3% 46%);
            padding: 30px;
            width: 100%;
            margin: -30px 0;
            
            // height: 30px;
            
            p {
                margin-top: 3px;
                font-size: 15px;
                color: color(text-color);
            }
        }
    
        h5 {
            color: color(primary-blue);
        }
    
       @include mobile {
           h5 {
               font-size: 10px;
           }

    }
   
    
   }



    // @include laptop {
    //     .car-badge {
    //         width: 300px;
    //         height: 300px;
    //         float: left;
    //         position: relative;
    //         bottom: 90px;
    //     }

    //     h5 {
    //         position: relative;
    //         top: 25px;
    //         float: right;
    //         width: 500px;

    //     }
    // }

   
}

.row4 {

    div {
        height: 50%

        img {
            height: 50%;
            width: 100%;
        }
    }
    
}

.contain-1 {
    width: 100%;
}

