$colors: (
    primary-blue: #006491,
    dark-blue: #005177,
    primary-red: #e31837,
    text-color: #ffffff,
    text-secondary: #888888
);

$theme-colors: (
    "primary": #006491,
    "danger":  #e31837,
);

@import '../node_modules/bootstrap/scss/bootstrap';

@import 'mixins';

@function color($color-name) {
    @return map-get($colors, $color-name);
}

@import 'navbar';

@import 'modal';

.nav-link {
    color: white;
}


.item {
    border: 1px solid gray;
    
}


#item4 {
    height: 118px;
    border-left: none;
    border-right: none;
}


.row {
    text-transform: uppercase;
    margin: 15px auto;
    
    button {
        
        font-family: 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
    }
}

#hiddenbtn {
    
    @include mobile {
        display: block;
    }

    @include tablet {
        display: none;
    }
}

@import 'row1';

@import 'row2';

@import 'row3';

@import 'row4';

@import 'row5';

.contain-1 {
    width: 100%;
}

