$colors: (
    primary-blue: #006491,
    dark-blue: #005177,
    primary-red: #e31837,
    text-color: #ffffff,
    text-secondary: #888888
);

$theme-colors: (
    "primary": #006491,
    "danger":  #e31837,
);

@import '../node_modules/bootstrap/scss/bootstrap';

@mixin laptop {
    @media(min-width: 800px) {
        @content;
    }
}

@mixin middle {
    @media(min-width: 800px) and (max-width: 1127px) {
        @content;
    }
}

@mixin tablet {
    @media(min-width: 640px) {
        @content;
    }
}

@mixin tabletSm {
    @media(min-width: 576px) and (max-width: 800px) {
        @content;
    }
}

@mixin mobile {
    @media(min-width: 300px) {
        @content;
    }
}

@function color($color-name) {
    @return map-get($colors, $color-name);
}

nav {
    background-color: color(primary-blue);
    color: color(text-color);
    height: 76;
    text-transform: uppercase;

    
    div {
        div {
            a {
                color: color(text-color);
                font-size: 16px;
                font-family: 'Arial Narrow', Arial, sans-serif;
                padding: 12px 10px;
                margin: 0px auto;
                font-weight: bold;
                
            }
            a:hover {
                text-decoration: none;
                background-color: color(dark-blue);
                color: color(text-color);
            }

            #navbarDropdownMenuLink {
                border: 2px solid white;
                border-radius: 5px;
                text-align: center;
                margin: 0 20px;
            }

            .dropdown-menu {
                height: 200px;
            }
        }

    }

    #profile-btn {
        background-color: color(dark-blue);
        text-align: center;
        font-size: 15px;
    }

    #profile-btn:hover {
        color: white;
    }
    
}



.nav-link {
    color: white;
}


.item {
    border: 1px solid gray;
    
}


#item4 {
    height: 118px;
    border-left: none;
    border-right: none;
}


.row {
    text-transform: uppercase;
    margin: 15px auto;
    
    button {
        
        font-family: 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
    }
}

#hiddenbtn {
    
    @include mobile {
        display: block;
    }

    @include tablet {
        display: none;
    }
}

.row1 {

    @include mobile {
        h5, h6, button.col-sm-4 {
            display: none;
        }
    }

    @include tablet {

        h5, h6, button.col-sm-4 {
            display: block;
            height: 80%;
        }

        button.col-sm-4 {
            width: 80%;
        }

        h5 {
            margin: 5px 0px 0px;
            color: color(primary-blue);
            font-size: 80%;
        }
    
        h6 {
            width: 1px;
            color: color(text-secondary);
            text-transform: none;
            font-size: 22px;
            font-family: italic;
            margin: 5px 0px 0px;
        }

        
    }

    @include laptop {
        button.col-sm-4 {
            width: 65%;
        }

        h5 {
            font-size: 20px;
        }
    
        h6 {
            font-size: 20px;
        }
    }
}

.row2 {
    

    img {
        margin: 5px 0;
       
    }



        .img1 {
            width: 100%;
        }
            
       

    

    .img2 {
        height: auto;
        width: 100%;
    }

    @include laptop {
        .img1 {
            height: 80%;
        }

        .img2 {
            margin-left: -20px;
        }
    }



}

.row3 {
    text-align: center;
    
    @include laptop {
        margin-top: -11%;
    }

    i {
        color: color(primary-blue);

        @include tabletSm {
            font-size: 35px;
            position: relative;
            top: 25px;
            clear: both;
        }
        
        @include laptop {
            font-size: 60px;
            margin-top: 20px;
        }
    }

    a {
        div {
            background-color: color(primary-blue);
            clip-path: polygon(10% 32%, 89% 32%, 98% 46%, 90% 58%, 10% 58%, 3% 46%);
            padding: 30px;
            width: 100%;
            margin: -30px 50px -30px 0;

            p {
                margin-top: 3px;
                font-size: 15px;
                color: color(text-color);
            }
        }
    
        h5 {
            color: color(primary-blue);
            font-size: 10px;
        }
    
        @include tabletSm {
            div {
                position: relative;
                width: 450px;
                height: auto; 
                left: 80px;
                
                p {
                    font-size: 8px;
                }
            }

            h5 {
                position: relative;
                left: 260px;
                bottom: 40px;
                font-size: 12px;
            }
        }

        @include laptop {
            display: inline;
            
            
            div {
                float: left;
                padding: 50px;
                width: 900px;
                margin: -25px -10px -10px 0;

                p {
                    margin-top: 4px;
                }
            }
           h5 {
               float: right;
               font-size: 22px;
               width: 100%;
                position: relative;
                bottom: 95px;
                margin-left: 180px;
           }

           #car1 {
            position: relative;
            left: 130px
            }

           

        }
    
        @include middle {
            div {
                position: relative;
                bottom: 65px;
                left: 110px;
            }

            h5 {
                position: relative;
                bottom: 155px;
                font-size: 90%;
            }

            #car1 {
                margin-left: 120px;
            }
        }


   }

   
}

.row4 {

    margin: 15px;
    
    h5 {
        text-transform: none;
        color: color(text-secondary);
    }
    div {
        height: 50%;

        img {
            height: 50%;
            width: 100%;
        }
    }
    
}

.row5 {

    div {

        a {
            margin: 0px 10px;
        }

    }
    
    
}

.contain-1 {
    width: 100%;
}

